.App {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  overflow-x: hidden;
}

div.card {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.p-2 {
  margin-top: 2rem;
  padding: 1rem;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.text-muted {
  margin-top: 1rem;
}

.p-2:hover {
  background: #fff;
  color: #282c34;
}

.p-2:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.text {
  margin-top: 2rem;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: rgba(202, 194, 194, 0.2);
  border-radius: 0% 100% 0% 100% / 72% 48% 52% 28%;
}
